extends ../layouts/common.pug
block content
		.container-fluid
			.row
				.col-12.text-center.my-5.pt-5.header
					h3 CART
					p Home > cart
		.container
			.row
				.col-md-12
					table.table.text-center.table-bordered
						thead.thead-dark
							tr
								th #
								th Image
								th Name
								th Price
								th Count
								th view
							tbody
							tr.row-product
								th 1
								td.pro-thumbnail 
									img(src='../images/product-1.png')
								td váy dự tiệc
								td 299
								td.row-product-count 2
								td 
									a(href='/home/product/5d25f93f714a91e6ff27f97c') view
							tbody
							tr.row-product
								th 2
								td.pro-thumbnail 
									img(src='../images/product-2.png')
								td Đầm
								td 133
								td.row-product-count 1
								td 
									a(href='/home/product/5d25f93f714a91e6ff27f97c') view
							tbody
							tr.row-product
								th 3
								td.pro-thumbnail 
									img(src='../images/product-3.png')
								td Váy
								td 133
								td.row-product-count 1
								td 
									a(href='/home/product/5d25f93f714a91e6ff27f97c') view
							
				
					
			.row 
			