extends ../layouts/common.pug
block content
		.container-fluid
			.row
				.col-12.text-center.my-5.pt-5.header
					h3 CART
					p Home > cart
		.container
			.row
				.col-md-12
					table.table.text-center.table-bordered
						thead.thead-dark
							tr
								th #
								th Image
								th Name
								th Price
								th Count
								th view
						tbody
							tr.row-product
								th 1
								td.pro-thumbnail 
									img(src='../images/product-1.png')
								td Ottoasdan, adkasjkdhasd aksjdhasjdabksdjkasduiwhakdsjhdwdak kashdjkasdhwd
								td 10000000
								td.row-product-count 12
								td 
									a(href='#') view
							tbody
							tr.row-product
								th 1
								td.pro-thumbnail 
									img(src='../images/product-1.png')
								td Otto
								td @mdo
								td.row-product-count 12
								td 
									a(href='#') view
							tbody
							tr.row-product
								th 1
								td.pro-thumbnail 
									img(src='../images/product-1.png')
								td Otto
								td @mdo
								td.row-product-count 12
								td 
									a(href='#') view
							tbody
							tr.row-product
								th 1
								td.pro-thumbnail 
									img(src='../images/product-1.png')
								td Otto
								td @mdo
								td.row-product-count 12
								td 
									a(href='#') view
							tbody
							tr.row-product
								th 1
								td.pro-thumbnail 
									img(src='../images/product-1.png')
								td Otto
								td @mdo
								td.row-product-count 12
								td 
									a(href='#') view
							
				
					
			.row 
			