head
  link(rel='stylesheet', href='/styles/login.css')
  link(rel='stylesheet', href='/styles/hi.css')
body
  
  .product
      form(action="/auth",method="POST")
        h2 Login
        div.input-group
          input#username(type='text',name="username",required)
          label(for='username') Username
        div.input-group
          input#password(type='password',name="password",required)
          label(for='password') Password
        button Login
        div
        p.sign-up Don't have an account? 
          a(href="#") Sign up


