html
  head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='/styles/hi.css')
    link(rel='stylesheet', href='owlcarousel1/owl.carousel.min.css')
    link(rel='stylesheet', href='owlcarousel1/owl.theme.default.min.css')

    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        a.navbar-brand(href='#')
          img(src='images/logo.png')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='#') Home
            li.nav-item.active
              a.nav-link(href='#') shop
            li.nav-item.dropdown.active
              a#navbarDropdown.nav-link(href='#') Pages
              .dropdown-content
                a.dropdown-item(href='#') Action
                a.dropdown-item(href='#') Another action
                a.dropdown-item(href='#') Something else here
            li.nav-item
              a.nav-link.active(href='#') Blog

    block content
  
