extends ../layouts/common.pug
block content
  .container-fluid
    .row
      .col-12.text-center.pt-5.header
        h3 VIEW
        p Home > View
    .container-view
      input#one(type='radio', name='image', checked='')
      input#tow(type='radio', name='image')
      input#three(type='radio', name='image')
      input#four(type='radio', name='image')
      .display-image
      .imformation-image
        h1 Injected Humour
        span $799.99
        div Quick Overview
        div There are many variations of passages of Lorem Ipsum avaable, b majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. make an ami jani na.
        button
          a(href='/cart/add/'+id) Add to cart