.menu-element{
	display: flex;
	justify-content:center;
	list-style: none;
	padding-bottom: 0.5em;
	background:white;


}
.menu-element a{
	background-color: white;
	margin: 20px;
	color: black;
	text-decoration: none;
	width: 100px;
	padding: 10px;
	border-radius: 15px;
	border: none;
	text-align: center;
}
.menu-element a:hover{
	background-color: #f2f2f2;
}

.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
