.user{
	display: flex;
	align-items: center;
}
.login-register-separator {

    width: 1px;
    height: 300px;
    background-color: #ccc;
    display: block;
    margin: auto;
    margin-top: 150px;
}

.input-group{
	margin: 1.6rem 0;
	position: relative;
	width: 307.42px;
} 
.form-login{
	margin-top: 2em;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	padding: 1rem 1.2rem;
	border-radius: 1rem !important;
	text-shadow: .4px .4px 5px rgba(0,0,0,.2);
}
form h2{
	text-align: center;
	font-weight: 400;
	user-select: none;
}

form input{
	display: block;
	border: none;
	border: 1px solid black; 
	border-radius:5rem;
	outline: none;
	padding: 6px 15px;
	width: 100%;
}
.button-login{
	background-color:#373b3e;
	border: none;
	color: white;
	padding: 10px 2px;
	font-size: 20px;
	border-radius: 5rem !important;
	width: 100px;
	cursor: pointer;
	align-items: center;
	color: white;
}
form label{
	position: absolute;
	left: 5px;
	top:10px;
	font-weight: 300;
	font-size: 20px;
	pointer-events: none;
	color: gray;
	transition: 200ms ease;
}
input:focus + label, input:valid +label {
	top:-30px;
	left: 10px;
	font-size: 20px;
	color: black;
}
.button-login:hover{
	outline: none;
	background-color: black;
}	
.form{
	width: 40%;
}
.sign-up{
	padding: 2rem;
}
.sign-up a{
	text-decoration: none;
}
.form-register{
	display: flex;
	margin-left: auto;
}
.acount-register{
	margin-left:30px;
}
.register-form{
	margin-left: 0px;
}
@media (max-width: 575.98px){
	.user{
		display: flex;
		flex-direction: column;
	}
	.input-group{
		width: 100%;
	}
	.form-register{
		display: flex;
		flex-direction: column;
	}
	.acount-register{
		margin-left:0px;
	}
	.login-register-separator {

		width: 1px;
		height: 100px;
		background-color: #ccc;
		display: block;
		margin: auto;
	}
}
